.synonym-finder-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #6dd5ed, #2193b0);
  padding: 20px;
}

.synonym-finder-container {
  width: 730px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.synonym-finder-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.synonym-finder-title {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  font-weight: normal;
}

.synonym-finder-title::after {
  content: '';
  display: block;
  width: 50%;
  margin: 0.5em auto;
  border-bottom: 2px solid #000;
}

/* Used words section styling */
.used-words-section {
  width: 730px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 20px;
}

.used-words-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

.used-words-section h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  font-weight: normal;
}

.used-words-section h2::after {
  content: '';
  display: block;
  width: 50%;
  margin: 0.5em auto;
  border-bottom: 2px solid #000;
}

.words-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 25px 0;
}

.words-column {
  flex: 1 1 calc(50% - 10px);
  max-width: calc(50% - 10px);
}

.words-column ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.words-column ul li {
  font-size: 1em;
  margin-bottom: 5px;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  text-transform: capitalize;
  transition: background 0.3s;
}

.words-column ul li:hover {
  background: #e1e1e1;
}
