.modal-overlay-dm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content-dm {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  text-align: center;
  width: 700px;
}

.modal-content-dm h2 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  text-decoration: underline;
}

.modal-content-dm h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: normal;
}

.modal-content-dm h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: normal;
}

.word-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px; 
  margin-bottom: 20px; 
}

.speak-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #007BFF;
  transition: color 0.3s ease;
}

.speak-button i {
  margin-left: 8px;
}

.speak-button:hover {
  color: #0056b3;
}

.modal-content-dm .language-toggle {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-content-dm .toggle-button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.modal-content-dm .toggle-button:hover {
  background-color: #0056b3;
}

.modal-content-dm button {
  padding: 14px 28px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.modal-content-dm button:hover {
  background-color: #0056b3;
}

/* Media Query for Mobile Devices */
@media (max-width: 600px) {
  .modal-content-dm {
    padding: 30px;
    width: 90%;
  }

  .modal-content-dm h2 {
    font-size: 30px;
  }

  .modal-content-dm h3 {
    font-size: 26px;
  }

  .modal-content-dm h4 {
    font-size: 20px;
  }

  .modal-content-dm button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .modal-content-dm .toggle-button {
    padding: 6px 12px;
    font-size: 16px;
  }
}
