.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 40px; /* Adjusted padding */
    border-radius: 8px;
    text-align: center;
    width: 700px; /* Increased the width of the modal */
  }
  
  .modal-content h2 {
    margin-top: 0; /* Removed any top margin */
    margin-bottom: 20px; /* Increased margin below the title */
    font-size: 34px; /* Increased font size of the title */
    font-weight: bold; /* Made the title bold */
    text-decoration: underline; /* Added underline to the title */
  }
  
  .modal-content h3 {
    margin-top: 20px; /* Adjusted margin above the word and definition */
    margin-bottom: 20px; /* Increased margin below the definition */
    font-size: 30px; /* Increased font size of the definition */
    font-weight: normal; /* Kept the definition text unbold */
  }
  .modal-content h4 {
    margin-top: 20px; /* Adjusted margin above the word and definition */
    margin-bottom: 20px; /* Increased margin below the definition */
    font-size: 22px; /* Increased font size of the definition */
    font-weight: normal; /* Kept the definition text unbold */
  }
  
  .modal-content .language-toggle {
    margin-top: 20px;
    margin-bottom: 20px; /* Adjusted margin for better spacing */
  }
  
  .modal-content .toggle-button {
    padding: 8px 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increased font size of the button text */
  }
  
  .modal-content .toggle-button:hover {
    background-color: #0056b3;
  }
  
  .modal-content button {
    padding: 14px 28px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; /* Increased font size of the button text */
    font-weight: normal; /* Kept the button text unbold */
    margin-top: 20px; /* Added margin above the button to move it down */
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  