.stats-container {
    margin-top: 80px; /* Adjust based on your navbar height */
    background: transparent; /* Ensure transparent background */
    text-align: right; /* Align the text to the right */
    margin-bottom: 20px; /* Add some margin below */
    position: absolute; /* Use absolute positioning */
    right: 20px; /* Position it to the right */
    z-index: 1; /* Ensure it is above other content */
    max-width: 400px; /* Increased max-width */
    width: 20%; /* Ensure it takes full width */
}

/* Existing styles */
.game-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background: transparent; /* Ensure transparent background */
    padding-bottom: 50px; /* Ensure enough padding at the bottom */
    align-items: center; /* Center the content horizontally */
}

body {
    background: url('../../../public/background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0; /* Ensure no default margin */
}

.navbar {
    background-color: #fff; /* Changed to white */
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    position: fixed; /* Fix navbar at the top */
    width: 100%;
    top: 0;
    z-index: 10; /* Ensure navbar is on top */
}

.navbar h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin: 0;
}

.footer {
    background-color: #fff; /* Changed to white */
    color: black;
    text-align: center;
    padding: 1rem;
    width: 100%; /* Ensure footer takes full width */
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    padding: 20px;
    background: transparent; /* Ensure transparent background */
    margin-top: 0px; /* Space for the fixed navbar */
    width: 100%; /* Ensure it takes full width of its container */
    max-width: 800px; /* Control max-width for layout */
    position: relative; /* Ensure relative positioning */
    top: 320px; /* Move up to make space for the stats */
}

.game-container.moved-up {
    top: 160px; /* Adjust based on your desired position for desktop */
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: -30px; /* Move the timer up */
}

.timer-svg {
    width: 80px;  /* Adjusted size */
    height: 80px; /* Adjusted size */
}

.timer-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.timer-fg {
    fill: none;
    stroke: #3B71CA;
    stroke-width: 3.8;
    stroke-linecap: round;
    transition: stroke-dasharray 1s linear;
}

.timer-text {
    fill: #000;
    font-size: 0.7em; /* Adjusted size for larger text */
    text-anchor: middle;
}

.game-form {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
}

label::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0.5em auto;
    border-bottom: 2px solid #000;
}

select {
    font-size: 1em;
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

input {
    font-size: 1em;
    padding: 10px;
    width: calc(95.5% - 22px);
    margin: 10px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin: 10px;
    background-color: #3B71CA; /* Updated color */
    color: white;
}

button:hover {
    background-color: #3356A8; /* Darker shade of the updated color */
    transform: translateY(-2px);
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.reset-button {
    background-color: #dc3545;
    color: #fff;
}

.reset-button:hover {
    background-color: #c82333;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.used-words-section ul {
    list-style-type: none !important; /* Remove dot points */
    padding: 0 !important; /* Remove padding */
    margin: 0 !important; /* Remove margin */
}

.used-words-section li {
    background: #f1f1f1 !important; /* Add background color */
    margin: 5px 0 !important; /* Add margin */
    padding: 10px !important; /* Add padding */
    border-radius: 5px !important; /* Round the corners */
    text-transform: capitalize !important; /* Capitalize first letter */
    transition: background 0.3s !important;
    font-size: 18px !important; /* Increase font size */
}

.used-words-section li:hover {
    background: #e1e1e1 !important; /* Change background color on hover */
}


.used-words-section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 520px;
    text-align: left;
    margin-top: 20px;
    overflow-y: auto;
    max-height: 300px; /* Adjusted height */
    margin-bottom: 50px; /* Ensure enough margin at the bottom */
}

.used-words-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    margin-top: 6px;
    font-weight: normal;
}

.used-words-section h2::after {
    content: '';
    display: block;
    width: 50%;
    margin: 0.5em auto;
    border-bottom: 2px solid #000;
}

.words-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
    margin-left: 10px;
}

.words-grid ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
}

.words-grid ul li {
    font-size: 1em;
    margin-bottom: 5px;
}

/* Add media query for smaller screens */
@media (max-width: 600px) {
    .stats-container {
        position: relative; /* Change position to relative for smaller screens */
        right: auto; /* Reset right position */
        margin-top: 80px; /* Adjust margin for smaller screens */
        max-width: 100%; /* Ensure it takes full width for smaller screens */
        width: 100%; /* Ensure it takes full width */
    }

    .game-container {
        padding: 10px; /* Adjust padding for smaller screens */
        margin-top: 80px; /* Adjust margin for smaller screens */
        top: 0px; /* Reset top position for smaller screens */
    }

    .game-container.moved-up {
        top: -30px; /* Adjust based on your desired position for mobile */
    }
    
    .used-words-section {
        max-height: 150px; /* Adjust height for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
        max-height: 300px; 
    }
}
